<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>AC Online Percentage Calculator</title>
    </head>

    <body>
        <h1 class="main_header">Welcome to Advance Cloud Percentage Calculator</h1>
        <p>**************************************************************************************************************************************************************************************</p>
        <div>
            <p>Welcome to Advance Cloud fast Percentage calculation, Simple to use; First enter 
                the fix number then after enter the percentage value you need</p>
        </div>
        <div>
            <form action="/" method="POST">
                <input placeholder="Enter Fix number here" name="fnumber" type="text">
                <input placeholder="Enter percentage value here" name="vnumber" type="text">
                <input type="submit">
             </form>
        </div>
    
    <p class="result">{{ message }}</p>
    </body>
</html>